
html, body {
  height: 100%;
}

body {
  background-color: #fdfdfd;
  min-height: 100vh; /* ocupa al menos el alto de la ventana */
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;  /* empuja el footer hacia abajo */
}

footer {
  /* estilo del footer */
  padding: 10px 20px;
  gap: 15px;
  display: flex;
  justify-content: center;
}

header{
    margin: 10px 5px;
    display: flex;
    justify-content: end;
    gap: 10px;
}
a{
    text-decoration: none;
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
}
.icons-button{
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 7px 0;
    padding: 0;
}
#acceder-button{
    color: white;
    background-color: rgb(0, 68, 255);
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
}
#brand{
    margin-top: 80px;
    max-height: 200px;
    max-width: 300px;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#search-container{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    max-width: 600px;
    width: 100%;
    border: 0.5px  black;
    padding: 0px 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}
#search-input{
    display: flex;
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
}
#search-input:focus{
    outline: none;
}
#search-1{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
#search-2{
    display: flex;
    gap: 5px;
}
#parrafo{
    color: gray;
    font-size: 16px;
}
#english-link{
    margin: 17px 0;
    color: blue;
    font-size: 16px;
}
.search-button{
    padding: 10px 20px;
    border: none;
    color: gray;
    background-color: white;
    cursor: pointer;
}
.search-button:hover{
    background-color: rgb(240, 240, 240);
}  