body{
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
    background-color: rgb(238, 238, 238);;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    max-width: 100%;
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;    
    gap: 15px;
    padding: 40px;
}
#container h1{
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 0px;
}
#container button{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#container input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    box-sizing: border-box;
}