body{
    height: 100vh;
    display: flex;
    justify-content: center;
}
#div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: #007BFF;
    margin: 0px;
    
}
h3{
    color: #443333;
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 15px;  
}
#input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}
input:focus{
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
#lista{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#btn{
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#btn:hover{
    background-color: lightgreen;
}
p{
    margin: 0px;
}