body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#Formulario{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 5px;
  background-color: #232323
}
#Formulario label{
  color: white;
}
#Formulario input{
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
#Formulario button{
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  transition: .3s ease;
}
#Formulario button:hover{
  background-color: #000;
  color: white;
  cursor: pointer;
}