body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
#main{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 13px;
    width: 100%;
    max-width: 400px;
}
#main h1{
    color: #333333;
    text-align: center;
    margin: 10px 0;
}
#main p{
    font-size: 18px;
    color: #333333;
    margin: 0
}
#boton{
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
#boton:hover{
    background-color: #0056b3;
}