body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#container h1{
    text-align: center;;
}
#boton{
    display: flex;
    justify-content: center;
}
.boton{
    margin-top: 20px;
    width: 100px;
    height: 50px;
    background-color: #09f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.valores{
    text-align: center;
    font-size: 18px;
    margin: 15px 0;
}
#imagen{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
}